<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
login
<div>
    username : <input type="text" id="input_user_username" class="input_create"/> <br/>
    password : <input type="password" id="input_user_password" class="input_create"/> <br/>
    <button onclick="loginUser()">로그인</button>
    <button onclick="getAccessToken()">getAccessToken</button>
</div>

<script>
    function getAccessToken(){
        let _data = {};
        $.ajax({
            url: "/api/auth",
            method: "POST",
            contentType : 'application/json; charset=utf-8',
            headers : {
                "RefreshToken" : localStorage.getItem("refreshToken")
            },
            data: JSON.stringify(_data),
            success: (data, status, xhr)=>{
                let accessToken = xhr.getResponseHeader("Authorization");
                //alert(accessToken);
                if(accessToken == null || "" === accessToken){
                    alert("실패");
                } else {
                    alert("성공");
                    localStorage.setItem("accessToken", accessToken);
                    location.replace("/permission/admin_list");
                }
            },
            error: (data, status, xhr)=>{
                alert(JSON.stringify(data));
            },
        });
    }
    function loginUser(){
        let _data = {};
        let input_create = $(".input_create");
        for(let each of input_create){
            let tempId = $(each).attr("id");
            tempId = tempId.replace("input_user_", "");
            _data[tempId] = $(each).val();
        }
        $.ajax({
            url: "/api/login",
            method: "POST",
            contentType : 'application/json; charset=utf-8',
            data: JSON.stringify(_data),
            success: (data, status, xhr)=>{
                let refreshToken = xhr.getResponseHeader("RefreshToken");
                alert(refreshToken);
                if(refreshToken == null || "" === refreshToken){
                    alert("로그인 실패");
                } else {
                    //alert("로그인 성공");
                    localStorage.setItem("refreshToken", refreshToken);
                    getAccessToken();
                    //location.replace("/index");
                }
                /*if(data["id"] > 0){
                    alert("로그인 성공");
                    localStorage.setItem("userId", data["id"]);
                    location.replace("/index");
                } else {
                    alert("로그인 실패");
                }*/
            },
            error: (data, status, xhr)=>{
                alert(JSON.stringify(data));
            },
        });
    }
</script>
</body>
</html>